.NavbarItems{
    background: #f1f1f1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.navbarLogo{
    color: #191919;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navMenu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.navLinks{
    color: #191919;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navLinks:hover{
    color: #0077b6;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #191919;
}

.navLinksMobile{
    display: none;
}

.menuIcon{
    display: none;
}